body {
  color: #D6E6EA;
}

.navbar-laravel {
  background-color: #999999;
}

.sort-btn li a {
        text-decoration: none; /* 下線を無くす */
        color: white; /* 文字を白色にする */
    }

.header {
  .logo {
      width: 120px;
      height: 82px;
      color: #fff;
  }
}

.headline {
  .caption {
    position: relative;
    width: 350px;
    .image {
      img {
    width: 100%;
      }
    }
    .title {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #fff;
      h1 {
    color: #fff;
    font-size: 1.2em;
      }
    }
    .body {
      font-size: 0.8em;
      color: #fff;
    }
  }
}

.posts {
  .post {
    .date {
      font-size: 0.6em;
      color: #999999;
    }
    .title {
      font-size: 1.2em;
      font-weight: bold;
    }
    .body {
      font-size: 0.8em;
    }
    .image {
      img {
    width: 250px;
      }
    }
  }
}

.form-control {
  background-color: #ffffff;
}